<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.shiyi.trade.dao.FeeExemptionConfigMapper">
    <resultMap id="BaseResultMap" type="com.baibei.shiyi.trade.model.FeeExemptionConfig">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="customer_no" jdbcType="VARCHAR" property="customerNo"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="flag" jdbcType="TINYINT" property="flag"/>
    </resultMap>

    <select id="findPageList" resultType="com.baibei.shiyi.trade.feign.bean.vo.FeeExemptionConfigVo">
        select
        id as id,
        customer_no as customerNo,
        customer_name as customerName,
        create_time as createTime
        from tbl_tra_fee_exemption_config
        <where>
            flag=1
            <if test="customerNo!=null and customerNo!=''">
                and customer_no=#{customerNo}
            </if>
            <if test="startTime!=null">
                and <![CDATA[DATE_FORMAT(create_time , '%Y-%m-%d %H:%i:%s')>=DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%s')]]>
            </if>
            <if test="endTime!=null">
                and <![CDATA[DATE_FORMAT(create_time , '%Y-%m-%d %H:%i:%s')<=DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%s')]]>
            </if>
        </where>
        group by create_time desc
    </select>
</mapper>