<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.shiyi.account.dao.RecordEmpowermentBalanceMapper">
  <resultMap id="BaseResultMap" type="com.baibei.shiyi.account.model.RecordEmpowermentBalance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="record_no" jdbcType="VARCHAR" property="recordNo" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="change_amount" jdbcType="DECIMAL" property="changeAmount" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="retype" jdbcType="VARCHAR" property="retype" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
    <result column="bean_type" jdbcType="VARCHAR" property="beanType" />
  </resultMap>
  <select id="recordList" parameterType="com.baibei.shiyi.account.common.dto.RecordBeanDto" resultType="com.baibei.shiyi.account.common.vo.RecordVo">
    SELECT
    trade_type tradeType,
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime,
    change_amount changeAmount
    FROM
    tbl_record_empowerment_balance
    where customer_no=#{customerNo} and bean_type=#{beanType}
    <if test="retype !='' and retype!=null ">
      and retype=#{retype}
    </if>
    <if test="startTime!=null and startTime!=''">
      and create_time &gt;= STR_TO_DATE(concat(#{startTime},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="endTime!=null and endTime!=''">
      and create_time &lt;= STR_TO_DATE(concat(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
    </if>
    order by create_time DESC,id
  </select>
</mapper>